.checkout__img{
    width: 100%;
    margin-bottom: 10px;
    height: 70px;
}
.checkout__carts{
    margin-left: 10px;
    margin-right: 10px;
    border-bottom: 1px solid lightgrey;

}
.checkout{
 display: flex;
 padding: 20px;
 background-color: white;
 height: max-content;
}

.checkout__right{
    display: flex;
}